@model IEnumerable<LobbyLink.DataAccess.Model.Listing>

@{
    ViewData["Title"] = "Marketplace";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-3 border-end">
            <div class="p-3">
                <form method="get" asp-action="Listings">

                    <!-- Game filter -->
                    <label>Game</label>
                    <input name="game"
                           value="@Context.Request.Query["game"]"
                           class="form-control mb-3"
                           placeholder="Game name" />

                    <!-- Price filter -->
                    <label>Max Price</label>
                    <input name="maxPrice"
                           value="@Context.Request.Query["maxPrice"]"
                           type="number"
                           class="form-control mb-3"
                           placeholder="Max price" />

                    <button type="submit" class="btn btn-primary">Apply Filters</button>

                    <a href="/Marketplace/Listings" class="btn btn-secondary mt-2">Clear</a>
                </form>
            </div>
        </div>

        <div class="col-md-9 p-4">

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["ErrorMessage"]
                </div>
            }

            <div class="row">
                @foreach (var listing in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card text-center">

                            <div class="card-body">
                                <p>@listing.ItemInstance.ItemDefinition.ItemName</p>
                                <img src="/images/default.png" class="img-fluid" style="max-height:150px;" />
                                <p>Seller: @listing.SellerAccount.UserName</p>
                                <p class="fw-bold">PRICE: @listing.Price</p>
                                <hr />
                                <a asp-controller="Marketplace" 
                                asp-action="MarketInspect" 
                                asp-route-listingId="@listing.ListingId" 
                                class="btn btn-outline-primary">BUY</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>