@model IEnumerable<LobbyLink.DataAccess.Model.Listing>

@{
    ViewData["Title"] = "Marketplace";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-3 border-end">
            @* SØGE INPUT SKAL VÆRE HER
            <div class="p-3">
                <input class="form-control mb-3" placeholder="Søg input" />
                <button class="btn btn-primary mt-3">Anvend filter</button>
            </div>
            *@
        </div>

        <div class="col-md-9 p-4">

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["ErrorMessage"]
                </div>
            }

            <div class="row">
                @foreach (var listing in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card text-center">

                            <div class="card-body">
                                <p>@listing.ItemInstance.ItemDefinition.ItemName</p>
                                <img src="/images/default.png" class="img-fluid" style="max-height:150px;" />
                                <p>Seller: @listing.SellerAccount.UserName</p>
                                <p class="fw-bold">PRICE: @listing.Price</p>
                                <hr />
                                <a asp-controller="Marketplace" 
                                asp-action="MarketInspect" 
                                asp-route-listingId="@listing.ListingId" 
                                class="btn btn-outline-primary">BUY</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>