@model IEnumerable<LobbyLink.DataAccess.Model.ItemInstance>

@{
    ViewData["Title"] = "Inventory";
}

<h1>All Items In Database</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ItemInstance ID</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Account Owner</th>
            <th>Game</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemInstanceId</td>
                <td>@item.ItemDefinition.ItemName</td>
                <td>@item.ItemDefinition.ItemDescription</td>
                <td>@item.Account.Username</td>
                <td>@item.ItemDefinition.Game.GameTitle</td>
            </tr>
        }
    </tbody>
</table>