@model IEnumerable<LobbyLink.Website.Models.InventoryItemViewModel>

@{
    ViewData["Title"] = "Inventory";
}

<h1 class="text-center my-4">Inventory</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["ErrorMessage"]
    </div>
}


<div class="row">
    @if (Model == null || Model.Count() == 0)
    {
        <h3 class="text-center my-4">Ingen items for denne bruger</h3>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <p>@item.ItemName</p>
                        <img src="/images/default.png" class="img-fluid" style="max-height:150px;" />
                        <hr />
                        @if (!item.IsListedForSale)
                        {
                            <a asp-controller="Inventory"
                            asp-action="InventoryInspect"
                            asp-route-itemInstanceId="@item.ItemInstanceId"
                            class="btn btn-outline-primary">
                            SELL / INSPECT
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Inventory"
                            asp-action="InventoryInspect"
                            asp-route-itemInstanceId="@item.ItemInstanceId"
                            class="btn btn-info btn-sm">
                            INSPECT
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>